# ---------------------------
# Required to prevent Helm nil-pointer errors
# ---------------------------
image:
  repository: openfga/openfga
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

postgresql:
  enabled: true
  image:
    repository: bitnamilegacy/postgresql
  auth:
    postgresPassword: password
    database: postgres

datastore:
  engine: postgres
  uri: "postgres://postgres:password@openfga-postgresql:5432/postgres?sslmode=disable"

authn:
  method:
  preshared:
    keys:
      - MYPreSharedToken1

service:
  type: NodePort
